<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         colors="true"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="Test Suite for danielme85/simple-server-stats">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>

</phpunit>
